body {
  background-color: chocolate;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}
table {
  border: 2px solid black;
  border-radius: 10px;
  justify-items: center;
}
tr,
th,
td {
  font-size: 14px;
  width: 200px;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
}
#content{
  margin: 10px auto;
  overflow-x:auto;
  justify-items: center;
  
}
nav {
  display: flex;
  align-items: center;
}
span {
  font-family: "New Rocker", serif;
  font-weight: 700;
  font-size: 20px;
}
h1 {
  text-align: center;
  color: rgb(255, 237, 223);
}
.dot {
  height: 8px;
  width: 8px;
  margin-bottom: 1.5px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

form, #pagination{
  display: flex;
  margin: 50px auto 0px;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 5px;
  width: 600px;
}
#bottomForm{
  display: flex;
  margin: 0px auto 0px;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 5px;
  width: 600px;
}
input {
  margin-left: 5px;
  border-radius: 10px;
  background: none;
  border: 1px solid white;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.795);
  font-size: 12px;
}
.search {
  background: none;
  border: none;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;
}
select {
  border-radius: 10px;
  background-color: rgba(255, 237, 223, 0.699);
}
select::selection {
  background-color: rgba(255, 237, 223, 0.699);
}
label{
  font-size: 14px;
}

button{
  background: none;
  border: 3px solid black;
  border-radius:60%;
}